body{
    margin:0;
    padding: 0;
    background-color: #9ff95dd;/* corpo da página */
}
.banner{
    margin:0;
    padding:0 ;
    background-color:#000000;
    display:flex;
    align-items: center;
    justify-content: center;/* o banner da página */
    
}
.banner-text {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  margin:0;/* edição do texto no banner*/
}
.retangulo {
    width: 100%;
    height: 20px; 
    background-color: #ffc72b;/* faixa amarela embaixo do banner preto*/
}
footer{
/* rodapé */
    background-color: #d3d3e6;/* cor do corpo do rodapé */
    text-align: center;
    padding: 10px;
    margin-top: auto;
    height: 50px;
    display: flex;
    color:#ffffff;
    text-shadow: 1px 1px 2px #000000;/* Contorno com sombra de 1px preta */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0; 
}
footer p{
    margin:0;/* tirar margens do texto do rodapé */
}
.text-inicio{
    color: black;
    text-align:center;
    margin:5px;
  font-size: 15px;
}
.banner-logo{
    filter: brightness(0) invert(1);
    margin-left: 10px;
    width: 25px;
    height: 25px; /* edição da logo do site*/    
}
.pesquisa {
    text-align: center;
    margin-top: 5px;/* edição da barra de pesquisa*/ 
}
#searchInput {
    width: 200px;
    padding: 5px;
    /* dentro da barra de pesquisa */
}

button {
    padding: 5px 10px;
    align-items: center;
    margin: 0 10px;/* botão de voltar*/
}
.lupa{
   width: 12px;
    height: 12px;
    margin: 0;/* lupa dentro do botão*/
}
.text-cidade{
    text-align:justify;/* textos dos nomes das cidades */
    margin-left: 10px;
    margin-right: 10px;
}
.text-cidade-tl{
    text-align:center
}
.img-onibus{
    text-align: center;
    margin: 20px;
    /* imagens nas páginas das cidades*/
}
.img-inicio{
    display: block;
    margin: 0 auto;
    max-width: 75%;
    height: 400px;
    width: 500px;/* edição da imagem da página principal, ônibus na frente do mapa*/
}                
.img-onibus img{
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 90vh;
  margin: 0 auto;/* edições da imagem do ônibus */  
}
.img-rota{

    text-align: center;
    margin: 20px;
}
.img-rota img{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    height: 450px;
}
a{
    margin: 0 20px;
    /* tamanho dos links nas páginas*/
}
.reclame{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    /* área inteiramente para zuar José Manoel*/    
}
.reclame img{
    width: 50px;
    height: 50px;
    margin-left: 3px;
    /* imagem e link do Instagram a se zuado*/  
}
.icones-irece{/* icones de opções página Irecê*/
    display: flex;
    text-align: center;
    text-align:center;
    align-items: center;
    justify-content: center;/* alinha os botões da página no centro*/
    background-color: #7c7c7c2b;
}
.icones-irece img{
    margin-left: 10px;
    width: 80px; 
    height: 80px;/* icones dos botões da página de Irecê*/
}
.ze{
    width: 20px;
    height: 20px;
    margin-bottom: 0;
}
